<!-- Welcomes user to Application -->
<h1 class="header">Welcome {{ currentUser }}, it's Trivia time!</h1>
<!-- Prompt for user to use selectors -->
<h2 class="subheader">Select question parameters:</h2>

<div class="inputs">
  <!-- Selectors for quiz modification -->
  <mat-card id="firstParamInput" class="parameterInput">
    <label>Difficulty:</label>
    <select [(ngModel)]="difficulty">
      <option *ngFor="let option of difficulties">{{ option }}</option>
    </select>
    <label>Category:</label>
    <select [(ngModel)]="category">
      <option *ngFor="let option of categories">{{ option }}</option>
    </select>
  </mat-card>
  <button mat-raised-button color="primary" (click)="startQuiz()">Start Quiz</button>
</div>

<!-- Boxes for temporary statistics -->
<div class="tempStats">
    <mat-card class="timeRemaining" id="timeRemaining">Time Remaining: {{timeLeft}}</mat-card>
    <mat-card class="questionsRemaining">Question: {{ questionCount }} out of 10</mat-card>
  <div class="statsBox">
    <mat-card class="correct">{{ rightCount }} Correct</mat-card>
    <mat-card class="incorrect">{{ wrongCount }} Wrong</mat-card>
    <mat-card class="win-percent">Success Rate: {{ (winPercentage * 100).toPrecision(4) }}%</mat-card>
  </div>
</div>
<hr />

<!-- Question card implementation -->
<div class="questionCard" *ngFor="let question of data">
  <h3>{{ question.question }}</h3>
  <ol>
    <li *ngFor="let choice of question.choiceList" [ngClass]="{'green-bg': question.gotIt && choice == question.correct_answer, 'red-bg': question.gotItWrong && choice == question.chosenWrongChoice}" (click)="chooseAnswer(choice, question.question)">
      {{ choice }}
    </li>
  </ol>
  <!-- User question feedback -->
  <h3 *ngIf="question.gotIt">CORRECT!</h3>
  <h3 *ngIf="question.gotIt === false">Incorrect - Correct answer was {{question.correct_answer}}</h3>
</div>
