.questionCard {
    border: solid black 1px;
    border-radius: 15px;
    width: 93vw;
    min-width: 400px;
    margin-top: 20px;
    margin-left: 3vw;
    padding: 10px;
    background-color: #e8e8fc;
    display: inline-block;
}

#firstParamInput {
    margin-left: 3vw;
}
.parameterInput {
    margin: 5px;
    background-color: #673ab7;
    color: white;
    margin-right: 10px;
}
h2 {
    margin-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.inputs {
    float: left;
    margin-right: 20px;
}
.timeRemaining {
    transition: 0.3s;
    min-width: 143px;
    background-color: #d6d6ea;
}
.questionsRemaining {
    background-color: #d6d6ea;
}
// This amazing trick to make custom list styles found here: https://stackoverflow.com/questions/1632005/ordered-list-html-lower-alpha-with-right-parentheses
ol {
    columns: 2;
    margin-right: 0px;
    padding-left: 0px;
    counter-reset: list;
}
ol li:before {
    content: counter(list) ") "; //You can add additional argument in counter() that's a pre-made list style, i.e. "lower-alpha"
    counter-increment: list;
}
ol li {
    list-style: none;
    border: solid gray 1px;
    border-radius: 10px;
    padding: 3px;
    list-style-position: inside;
    margin-bottom: 10px;
}
ol li:hover {
    background-color: #d6d6ea;
    transition: 0.3s;
    cursor: pointer;
}
.green-bg {
    transition: 0.3s;
    background-color: #90ee90;
}
.red-bg {
    transition: 0.3s;
    background-color: #E3AEB1;
}
.header {
  margin: 10px;
  margin-left: 16px;
  text-decoration: underline;
  font-weight: 600;
}
.subheader {
  margin-left: 16px;
  padding-bottom: 5px;
}
label {
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  font-weight: 450;
  font-size: 15pt;
  padding-bottom: 5px;
}
button {
  display: inline-block;
  background-color: #9e5cfc;
  min-width: min-content;
  width: 94vw;
  margin-left: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: 450;
  font-size: 15pt;
}

mat-card {
  margin: 5px;
  margin-left: 3vw;
  min-width: min-content;
  display: inline-block;
  font-size: 12pt;
  font-weight: 550;
}

.win-percent {
  background-color: #ffd700;
  margin-right: 3vw;
}
.statsBox {
    display: inline-block;
}
@media only screen and (min-width: 950px) {
    .statsBox {
        float: right;
        display: inline-block;
    }
}
.correct {
  background-color: #90EE90;
}

.incorrect {
  background-color: #E3AEB1;
}

select {
  width: 100px;
  margin-top: 10px;
}


