<!-- form -->
<h1 class="header">Welcome {{ currentUser }}, it's Trivia time!</h1>
<h2 class="subheader">Select question parameters:</h2>
<hr />
<div class="inputs">
  <div class="parameterInput">
    <label>Difficulty:</label>
    <select [(ngModel)]="difficulty">
      <option *ngFor="let option of difficulties">{{ option }}</option>
    </select>
  </div>
  <div class="parameterInput">
    <label>Category:</label>
    <select [(ngModel)]="category">
      <option *ngFor="let option of categories">{{ option }}</option>
    </select>
  </div>
  <button (click)="fetchData()">Start Quiz</button>
</div>
<div class="tempstats">
  <mat-card class="correct">{{ rightCount }} Correct</mat-card>
  <mat-card class="incorrect">{{ wrongCount }} Wrong</mat-card>
  <mat-card class="win-percent">Win Percentage: {{ (winPercentage * 100).toPrecision(4) }}%</mat-card>
</div>
<hr />
<!-- questions -->
<div class="questionCard" *ngFor="let question of data">
  <h3>{{ question.question }}</h3>
  <ol>
    <li
      *ngFor="let choice of question.choiceList"
      [ngClass]="{
        'green-bg': question.gotIt && choice == question.correct_answer
      }"
      (click)="chooseAnswer(choice)"
    >
      {{ choice }}
    </li>
  </ol>
  <h3 *ngIf="question.gotIt">CORRECT!</h3>
  <h3 *ngIf="question.gotIt === false">Incorrect!</h3>
</div>
