<h1 class="header">Welcome to {{ currentUser }} stats page!</h1>

<span>
  <mat-card>
    <h2 class="subheader">All-Time Stats:</h2>
    <mat-card class="completed">
      Quizzes Completed: {{ currentUserQuizzesCompleted }}!
    </mat-card>
    <mat-card class="correct answer">
      {{ currentUserRightCount }} Questions Correct.
    </mat-card>
    <mat-card class="incorrect answer">
      {{ currentUserWrongCount }} Questions Wrong.
    </mat-card>
    <mat-card class="average">
      Overall Success Rate: {{ (currentUserWinPercentage * 100).toPrecision(4) }}%
    </mat-card>
  </mat-card>
</span>
