.header {
  margin-left: 8px;
  font-weight: 600;
  padding: 10px;
  text-decoration: underline;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.subheader {
  margin-left: 2px;
}

mat-card > mat-card {
  margin: 10px;
  font-size: 12pt;
  font-weight: 500;
}

.answer {
  display: inline-block;
  width: calc((100% - 104px) / 2);
}

.completed {
  color: white;
  background-color: #9e5cfc;
}

.correct {
  background-color: #90ee90;
  min-width: min-content;
}

.incorrect {
  background-color: #e3aeb1;
  min-width: min-content;
}

.average {
  background-color: #ffd700;
}
