<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <h1>Trivia</h1>
    </span>
    <span class="example-spacer"></span>
    <button *ngIf="backToQuiz === 'true'" mat-icon-button (click)="goToQuiz()">
      <mat-icon class="example-icon">arrow_back</mat-icon>
    </button>
    <div class="divider"></div>
    <button mat-icon-button (click)="goToStats()">
      <mat-icon class="example-icon">assessment</mat-icon>
    </button>
    <div class="divider"></div>
    <button mat-icon-button (click)="logoutUser()">
      <mat-icon class="example-icon">logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>