<h1>Welcome to our Trivia web app!</h1>

<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="login-card">
  <mat-card *ngIf="!loading">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter email</mat-label>
        <input
          class="input-text"
          matInput
          placeholder="johndoe@example.com"
          [formControl]="email"
          required
          [(ngModel)]="user.emailAddress"
          (change)="changedEmailAddress()"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter password</mat-label>
        <input
          class="input-text"
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="user.password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="reset-password">
      <a class="reset-password" (click)="resetPassword()">Reset Password</a>
    </div>

    <div>
      <button
        mat-raised-button
        class="button"
        color="primary"
        (click)="onLogIn()"
      >
        Log In
      </button>
      <div>
        <button
          mat-raised-button
          class="button"
          color="primary"
          (click)="createAccount()"
        >
          Create Account
        </button>
      </div>
    </div>
  </mat-card>
</div>
