<p>login-screen works!</p>

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      required
      [(ngModel)]="emailAddress"
      (change)="changedEmailAddress()"
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
</div>

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [(ngModel)]="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <div>
    <button mat-raised-button class="button" color="primary">Submit</button>
    <div>
      <button mat-raised-button class="button" color="primary">
        Create Account
      </button>
    </div>
  </div>
</div>

<mat-card> <mat-card-content>Hello</mat-card-content></mat-card>
