toolbar-header {
  font-size: 20px;
}

h1 {
  font-weight: 600;
  text-decoration: underline;
  margin-top: 5px;
  margin-left: 18px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 5px;
  margin-left: 18px;
  margin-bottom: 0px;
  font-weight: 500;
}

.login-card {
  justify-content: center;
  align-items: center;
}

.reset-password {
  margin-bottom: 20px;
  text-decoration: underline;
}

.reset-password:hover {
  color: purple;
  cursor: pointer;
}

.button {
  min-width: min-content;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-message {
  margin: 5px;
  padding: 10px;
}

mat-form-field {
  min-width: min-content;
  width: 300px;
}
